.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home {
  text-align: center;
  padding: 20px;
}

.application-info {
  margin-bottom: 20px;
}

.application-info p {
  font-size: 18px;
}

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.photos img {
  width: 500px;
  height: 200px;
  object-fit: cover;
}

.navbar-nav {
  display: flex;
  gap: 20px;
}

.navbar-nav li {
  margin-bottom: 10px;
}

.dashboard {
  text-align: left;
}


.card .card-body {
  display: flex;
  flex-direction:column-reverse;
  justify-content: center;
}

.card .card-link {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}
